# Papilio One FPGA board (observed FT2232 + Spartan-3E XC3S500E)
#
# This configuration is based on direct probing of the attached board:
# - USB VID:PID 0403:6010
# - FTDI channel 0 provides JTAG access
# - FPGA JTAG IDCODE 0x41c22093 (Xilinx XC3S500E)
#
# Example usage:
#   openocd -s /usr/share/openocd/scripts -f targets/papilio_one/openocd/base.cfg \
#     -c "init; scan_chain; shutdown"
#   openocd -s /usr/share/openocd/scripts -f targets/papilio_one/openocd/base.cfg \
#     -c "init; pld load 0 build/top.bit; shutdown"

adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0088 0x008b
reset_config none
transport select jtag
adapter speed 1000

set CHIPNAME xc3s500e
source [find fpga/xilinx-xc3s.cfg]
